<%= turbo_frame_tag "begin-session-container", class: "flex gap-5 block max-w-2xl w-full bg-gray-100 py-8 px-4 border border-gray-200 rounded shadow-sm" do %>
  <li><%= link_to "Login", login_path %></li>
  <li><%= link_to "Create Account", new_user_path%></li>       
<% end %>    