<div id="main" class="container mx-auto flex flex-col items-center h-screen gap-5">
    <h1>Welcome to the Dashboard Index </h1>


    <h1 class="text-3xl font-bold underline">
        Hello world!
    </h1>

    <ul class="flex gap-5" >
        <li><%= link_to "Login", root_path %></li>
        <li><%= link_to "Create Account", root_path %></li>
    </ul>
</div>